.MuiStep-root.MuiStep-horizontal.css-1bw0nnu-MuiStep-root {
	width: 0px;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
	color: #664de5;
	border: none;
	width: 1.3em;
	height: 1.3em;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
	color: white;
	border-style: solid;
	border-color: #d0cfcf;
	border-width: thin;
	border-radius: 50%;
	width: 1.3em;
	height: 1.3em;
}

.MuiStepConnector-line.MuiStepConnector-lineHorizontal.css-z7uhs0-MuiStepConnector-line {
	color: #dbdbdb;
}

.MuiStepIcon-text.css-117w1su-MuiStepIcon-text {
	fill: #5a5757;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root
	> .MuiStepIcon-text.css-117w1su-MuiStepIcon-text {
	fill: white;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
	width: 1.3em;
	height: 1.3em;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-error.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	width: 350px;
	height: 40px;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	width: 350px;
	height: 40px;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
	width: 350px;
	height: 40px;
}

.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-disabled.MuiInputBase-formControl.css-cio0x1-MuiInputBase-root-MuiFilledInput-root {
	height: 40px;
	width: 140px;
	margin-left: -13px;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
	position: relative;
	right: 92px;
}
